.home,
.news,
.contact,
.about {
  padding: 10px;
  font-weight: 600;
}

.home {
  background-color: aquamarine;
}

.news {
  background-color: blanchedalmond;
}

.contact {
  background-color: cornflowerblue;
}

.about {
  background-color: darkgrey;
}
